<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fune.macato">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Menu"
            android:label="Fishing Guidebook">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HowToFish"
            android:label="How To Fish" />
        <activity
            android:name=".AboutUs"
            android:label="About Us" />
        <activity
            android:name=".Equipment"
            android:label="Fishing Tackle Box" />
        <activity
            android:name=".FishingEtiquette"
            android:label="Fishing Etiquette" />
        <activity
            android:name=".PreparingToFish"
            android:label="Preparing to Fish" />
        <activity android:name=".GoingFishing" android:label="Going Fishing"/>
        <activity android:name=".preparing_to_fish_2" android:label="Preparing to Fish"/>
        <activity android:name=".preparing_to_fish_3" android:label="Preparing to Fish"/>
        <activity android:name=".preparing_to_fish_4" android:label="Preparing to Fish"/>
        <activity android:name=".preparing_to_fish_5" android:label="Preparing to Fish"/>
        <activity android:name=".going_fishing_2" android:label="Going Fishing"/>
        <activity android:name=".going_fishing_3" android:label="Going Fishing"/>
        <activity android:name=".going_fishing_4" android:label="Going Fishing"/>
        <activity android:name=".fishing_etiquette_2" android:label="Fishing Etiquette"/>
        <activity android:name=".fishing_etiquette_3" android:label="Fishing Etiquette"/>
        <activity android:name=".fishing_etiquette_4" android:label="Fishing Etiquette"/>
        <activity android:name=".fishing_etiquette_5" android:label="Fishing Etiquette"/>
        <activity android:name=".fishing_etiquette_1" android:label="Fishing Etiquette"/>
        <activity android:name=".fishing_etiquette_6" android:label="Fishing Etiquette"/>
        <activity android:name=".tacklebox1" android:label="Fishing Tackle Box"/>
        <activity android:name=".tacklebox2" android:label="Fishing Tackle Box"/>
        <activity android:name=".tacklebox3" android:label="Fishing Tackle Box"/>
        <activity android:name=".tacklebox4" android:label="Fishing Tackle Box"/>
        <activity android:name=".tacklebox5" android:label="Fishing Tackle Box"/>
        <activity android:name=".tacklebox6" android:label="Fishing Tackle Box"/>
        <activity android:name=".tacklebox7" android:label="Fishing Tackle Box"/>
        <activity android:name=".tacklebox8" android:label="Fishing Tackle Box"/>
        <activity android:name=".tacklebox9" android:label="Fishing Tackle Box"/>
        <activity android:name=".tacklebox10" android:label="Fishing Tackle Box"></activity>
    </application>

</manifest>